@using LibraryManagementSystem.Model
@model Book

@{
    ViewData["Title"] = "Book Details";
}

<h2>@ViewData["Title"]</h2>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Model.Title</h4>

        <dl class="row">
            <dt class="col-sm-4">Id:</dt>
            <dd class="col-sm-8">@Model.BookId</dd>

            <dt class="col-sm-4">Author(s):</dt>
            <dd class="col-sm-8">@Model.Authors</dd>

            <dt class="col-sm-4">Subject:</dt>
            <dd class="col-sm-8">@Model?.Subject?.Name</dd>

            <dt class="col-sm-4">Synopsis:</dt>
            <dd class="col-sm-8">@Model?.Synopsis</dd>
        </dl>

        <table class="table table-striped table-bordered">
            <thead class="table-light">
                <tr>
                    <th>ISBN</th>
                    <th>Editorial</th>
                    <th>Edition Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Editions != null && Model.Editions.Any())
                {
                    @foreach (Edition edition in Model.Editions.OrderBy(r => r.EditionId))
                    {
                        <tr>
                            <td>@edition?.ISBN</td>
                            <td>@edition?.Editorial?.Name</td>
                            <td>@edition?.EditionDate</td>
                            <td>
                                <a asp-controller="Edition" asp-action="Details" asp-route-id="@edition.EditionId" class="btn btn-info btn-sm">Details</a>

                                @if (User.IsInRole("Librarian"))
                                {
                                    <a asp-controller="Edition" asp-action="Edit" asp-route-id="@edition.EditionId" class="btn btn-warning btn-sm">Edit</a>
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">There are no registered editions.</td>
                    </tr>
                }
            </tbody>
        </table>

        @if(User.IsInRole("Librarian"))
        {
            <a asp-action="Edit" asp-route-id="@Model?.BookId" class="btn btn-primary">Edit</a>
        }
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>