@using LibraryManagementSystem.Model
@model Author

@{
    ViewData["Title"] = "Author Details";
}

<h2>@ViewData["Title"]</h2>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Model.FullName</h4>

        <dl class="row">
            <dt class="col-sm-4">Id:</dt>
            <dd class="col-sm-8">@Model.AuthorId</dd>

            <dt class="col-sm-4">First Name:</dt>
            <dd class="col-sm-8">@Model.FirstName</dd>

            <dt class="col-sm-4">Last Name:</dt>
            <dd class="col-sm-8">@Model.LastName</dd>

            <dt class="col-sm-4">Birth Date:</dt>
            <dd class="col-sm-8">@Model.BirthDate</dd>

            <dt class="col-sm-4">Date of Death:</dt>
            <dd class="col-sm-8">@Model.DateOfDeath</dd>

            <dt class="col-sm-4">Biography:</dt>
            <dd class="col-sm-8">@Model.Biography</dd>

        </dl>

        @if (ViewBag.IsProfile == true)
        {
            <a asp-action="Profile" class="btn btn-secondary">Back to List</a>
        }
        else
        {
            @if(User.IsInRole("Librarian"))
            {
                <a asp-action="Edit" asp-route-id="@Model.AuthorId" class="btn btn-primary">Edit</a>
            }
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        }
    </div>
</div>